/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */


html {
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
    line-height: 1.2em;
    background-color: #f1f2f4;
}

h1{
    padding-top: 1em;
    padding-bottom: 1em;
    font-weight: bold;
    font-size: 2.5em;
    line-height: 1.45;
    text-align: center;
    background-color: #40a3c2;
    color: #ffffff;
}

.name {
    padding-top: 4em;
    padding-bottom: 0.9375em;
}

.button {
    line-height: .5em;
    font-weight: 350;
    text-align: center;
    background-color: #40a3c2;
    width: 6.5em;
    padding-top:1em;
    padding-bottom:1em;
}

.button:hover {
    background-color: #3186c6;
    text-align: center;
}

input, text, email {
    width: 60%;
    padding: 0.9375em;
    border-radius: 0.3125em;
    border-style: none;
    font-size: 0.9375em;
}

.register {
    width: 60%;
    margin: 0 auto;
}

input{
    display: block;
    margin-bottom: 1em;
}

input:required:focus {
    border: 3px solid #40a3c2;
    outline: none;
}
